.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

.dn * {
	display: none;
}

.dropdown {
	width: 110px;
  	
	.dropdown-trigger {
		width: 100%;
	}
	
	.button {
		display: flex;
		width: 100%;
		justify-content: space-between
	}
}


.font-heading {
	font-family: 'Annie Use Your Telescope', cursive;
	font-weight: normal; 
	font-style: normal; 
	font-size: 4rem;
}


.color-heading {
	color: #FD8502;
	text-shadow: 3px 4px 4px  rgba(0, 0, 0, .7);

}

.acc-heading {
	color: #e37701;
	text-shadow: 3px 4px 4px  rgba(0, 0, 0, .7);
}

.font-text {
	font-family: 'Fira Sans', sans-serif;
	font-weight: normal; 
	font-style: normal;
}

.font-text-size {
	font-size: 1.25rem;
}

.font-text-align {
	text-align: left;
}

.font-amatic {
	font-family: 'Amatic SC', cursive;
}

.amatic-subheader-size {
	font-size: 2.5rem;
}

.fira-italic {
	font-family: 'Fira Sans', sans-serif;
	font-style: italic;
}

.textShadow {
	text-shadow: 1px 1px 2px  rgba(0, 0, 0, .5);
}


.ourStoryImg {
	float: right;
}

.p-0-5 {
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.pt-3 {
	padding-top: 3rem;
}

.pb-1 {
	padding-bottom: 1rem;
}

.mb-4 {
	margin-bottom: 4rem;
}

.background {
	background-color: #EAE7DC;
}

.vab {
	vertical-align: bottom;
}

.mb-2 {
	margin-bottom: 2rem;
}


.ourStoryContainer {
	display: grid;
	
	grid-template-columns: 175px 1fr 175px;

	grid-template-areas: 
		"flowerSideLeft poemContent flowerSideRight";

	gap: 2rem;
	column-gap: 1rem;
}

.poemContent {
	grid-area: poemContent;

	display: grid;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 140px 1fr minmax(1fr, 1.3fr);

	grid-template-areas:
		"poemHeader poemHeader"
		"poem1 poemPicture"
		"poem2 poem3";

	gap: 1rem;
	margin-top: 30px;

	padding: 0px 1.5rem 1.5rem 1.5rem;
}

.poemViewFrameContainer {
		padding: 0px 10px;
		position: relative;
}

.poemViewFrame {
	clear: both;
	border-radius: 10px;
	position: relative;
	background-color: rgba(76, 76, 76, 0.7);
	box-shadow: 10px 10px 30px rgba(0, 0, 0, .4);

}

.poemHeader {
	grid-area: poemHeader;
}

.flowerSideLeft {
	grid-area: flowerSideLeft;

	 align-self: center;
	/* justify-self: center; */
	padding-left: 10px;

}

.flowerSideRight {
	grid-area: flowerSideRight;

	 align-self: center;
	/* justify-self: center; */
	padding-right: 10px;
}

.poemTitle {
	padding: 2rem 0 1rem 0;
}

.poem1 {
	grid-area: poem1;
}
.poem2 {
	grid-area: poem2;
}

.poem3 {
	grid-area: poem3;
}

.poemPicture {
	grid-area: poemPicture;

	align-self: center;
	justify-self: center;
}

.poemPhoto {
	box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
	margin-bottom: 0px;
	border-radius: 8px;
}

.boxShadow {
	box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
}

.roundCorners {
	border-radius: 6px;
}

.rightMapContainer {
	display: grid;
	
	grid-template-columns: 1fr 1fr 40%;
	grid-template-rows: 600px;

	grid-template-areas:
		"board descText map";

	/* height: 600px; */

	padding: 0 3rem 0 3rem;
}

.leftMapContainer {
	display: grid;
	
	grid-template-columns: 40% 1fr 1fr;
	grid-template-rows: 600px;

	/* height: 600px; */
	padding: 0 3rem 0 3rem;
}

.boardContainer {
	grid-area: board;

	/* justify-self: center;
	align-self: center; */

	width: 50%;
  height: 50%;
}

.textContainer {
	grid-area: descText;

	justify-self: center;
	align-self: center;
}

.mapContainer {
	grid-area: map;
	justify-self: center;
	align-self: center;
}

@media only screen and (max-width: 600px) {
	.ourStoryContainer {
			grid-gap: 0rem;
			grid-template-columns: 10px 1fr 10px;

		
			grid-template-areas: 
				"flowerSideLeft poemContent flowerSideRight";
	}

	.poemContent {
		grid-area: poemContent;
	
		display: grid;
	
		grid-template-columns: 1fr;
		grid-template-rows: 140px 1fr 1.3fr 1fr;
	
		grid-template-areas:
			"poemHeader"
			"poem1"
			"poem2"
			"poem3";
	
		grid-row-gap: 1rem;
		margin-top: 30px;
	
		padding: 0px 1rem 1rem 1rem;
	}

	.poemTitle {
		padding: 1.5rem 0 1rem 0;
	}

	.font-heading {
		font-size: 3rem;
	}

	.font-text-size {
		font-size: 1rem;
	}

	.font-text-align {
		text-align: center;
	}
}

.inline {
	display: inline
}

.active {
	color: #1c1c1c;
	border: "1px";
}

.poemTextColor {
	color: #EAE7DC;
}

 .postOne {
	/* height: 100px; */
}

:root {
	
	--wrapperWidth: calc(100vw - ( 2 * var(--gutter))); 
	--gutter: 1em;
	--noOfColumns: 8;

	--noOfGutters: calc(var(--noOfColumns) - 1);

	--ratioA: 1;
	--ratioB: 1;

	--factor: calc(var(--ratioB) / var(--ratioA));

	--rh: calc(( (var(--wrapper) - (var(--noOfGutters) * var(--gutter))) / var(--noOfColumns)) * var(--factor));
}

.accomodationGrid {

	max-width: var(--wrapper);
	display: grid;
	grid-template-columns: repeat(var(--noOfColumns), minmax(0, 1fr));
	/* grid-auto-flow: dense; */
	grid-template-rows: repeat(5, var(--rh));
	grid-gap: var(--gutter);
	/* margin: var(--gutter); */
	


	/* display: grid;
	width: var(--wrapperWidth);
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(5, --rowHeight); */
	
	grid-template-areas:
		"flowerTL flowerTL  accTitle accTitle accTitle  accTitle flowerTR flowerTR"
		"flowerTL flowerTL  square2  square2  smallFlower   square4  flowerTR  flowerTR"
		"........ square1   square2  square2  square3   square4  square5   ........"
		"........ square8   square8  bigflower  square3   square6  square6   ........"
		"flowerBL flowerBL  square7  square7  square14  square6  square6   ........";
	
	/* gap: 1em; */
	/* gap: var(--gutter); */

	padding: 2rem 0rem 0rem 1rem;
}

.square1 {
	grid-area: square1;
	background-color: #013381ff;
	display: flex;
	justify-content: center;
	align-content: center;
}

/* .movable {
	position: relative;
	top: 0px;
	transition: transform .2s ease-in-out;
}

.movable:hover {
	transform: translate3d(-2px, -2px, 0px);
} */
.movable {
	transition: transform .2s; /* Animation */
}
.pointerCursor {
	cursor: pointer; 
}

.movable:hover {
	transform: scale(1.05);
}
/* .movable:hover {
	-moz-transform: translate(-2px, -2px);
	-ms-transform: translate(-2px, -2px);
	-o-transform: translate(-2px, -2px);
	-webkit-transform: translate(-2px, -2px);
	transform: translate(-2px, -2px)
} */

.kastelSquare {
	grid-area: square2;

	background: url('/images/kastel.jpeg');
	background-position: center center;
	background-size: cover;
}

.square3 {
	grid-area: square3;

	background: url('/images/luxotel.jpeg');
	background-position: center center;
	background-size: cover;
}

.square4 {
	grid-area: square4;
	background: url('/images/stgeorge.jpeg');
	background-position: center center;
	background-size: cover;
}

.square5 {
	grid-area: square5;
	display: flex;
	justify-content: center;
	align-content: center;

	background-color: #fe595e;
}

.hotelVojvodinaSquare {
	grid-area: square6;

	background: url('/images/hotel-vojvodina.jpeg');
	background-position: center center;
	background-size: cover;
}

.square7 {
	grid-area: square7;
	background: url('/images/philadelphia.jpeg');
	background-position: center center;
	background-size: cover;
}

.square8 {
	grid-area: square8;

	background: url('/images/apartments.jpeg');
	background-position: center center;
	background-size: cover;
}

.square9 {
	grid-area: square9;
	background-color: #cafeca;
}

.flowerBL {
	grid-area: flowerBL;
}

.flowerTL {
	grid-area: flowerTL;
}

.topRightFlower {
	grid-area: flowerTR;	
}

.accTitle {
	grid-area: accTitle;
	justify-self: center;
	align-self: center;
	padding-bottom: 1rem;
}

.square14 {
	grid-area: square14;
	display: flex;
	justify-content: center;
	align-content: center;
}

.bigFlower {
	grid-area: bigflower;
	display: flex;
	justify-content: center;
	align-content: center;
}
.smallFlower {
	grid-area: smallFlower;
}


.svgCentered {
	display: flex;
	justify-content: center;
	align-content: center;
}