.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}

.dn * {
	display: none;
}

.dropdown {
	width: 110px;
  	
	.dropdown-trigger {
		width: 100%;
	}
	
	.button {
		display: flex;
		width: 100%;
		justify-content: space-between
	}
}


.font-heading {
	font-family: 'Annie Use Your Telescope', cursive;
	font-weight: normal; 
	font-style: normal; 
	font-size: 4rem;
}


.color-heading {
	color: rgba(0, 0, 173, 1);
}

.font-text {
	font-family: 'Fira Sans', sans-serif;
	font-weight: normal; 
	font-style: normal;
}

.font-text-size {
	font-size: 1.25rem;
}

.font-text-align {
	text-align: left;
}

.font-amatic {
	font-family: 'Amatic SC', cursive;
}

.amatic-subheader-size {
	font-size: 2.5rem;
}

.fira-italic {
	font-family: 'Fira Sans', sans-serif;
	font-style: italic;
}


.ourStoryImg {
	float: right;
}

.pt-3 {
	padding-top: 3rem;
}

.pb-1 {
	padding-bottom: 1rem;
}

.mb-4 {
	margin-bottom: 4rem;
}

.background {
	background-color: rgba(227, 182, 107, 0.7);
}

.vab {
	vertical-align: bottom;
}

.mb-2 {
	margin-bottom: 2rem;
}


.ourStoryContainer {
	display: grid;
	
	grid-template-columns: 175px 1fr 175px;

	grid-template-areas: 
		"flowerSideLeft content flowerSideRight";

	grid-gap: 2rem;
	grid-column-gap: 1rem;
}

.poemContent {
	grid-area: content;

	display: grid;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 140px 1fr 1fr;

	grid-template-areas:
		"poemHeader poemHeader"
		"poem1 poemPicture"
		"poem2 poem3";

	grid-row-gap: 1rem;
	margin-top: 30px;

	padding: 0px 1.5rem 0px 1.5rem;
}

.poemViewFrameContainer {
		padding: 0px 10px;
		position: relative;
}

.poemViewFrame {
	clear: both;
	border-radius: 8px;
	position: relative;
	background-color: rgba(227, 182, 107, 0.7);
}

.poemViewFrameShadow {
		position: absolute;
		z-index: -1;
		box-shadow: 0 10px 40px rgba(0, 0, 0, .8);
		width: 100%;
		height: 100%;
		bottom: 0px;
		border-radius: 8px;
		display: block;
		transform: translate3d(0, 0, 0);
}

.poemHeader {
	grid-area: poemHeader;
}

.flowerSideLeft {
	grid-area: flowerSideLeft;

	 align-self: center;
	/* justify-self: center; */
	padding-left: 10px;

}

.flowerSideRight {
	grid-area: flowerSideRight;

	 align-self: center;
	/* justify-self: center; */
	padding-right: 10px;
}

.poem1 {
	grid-area: poem1;

}
.poem2 {
	grid-area: poem2;
}
.poem3 {
	grid-area: poem3;
}
.poemPicture {
	grid-area: poemPicture;

	align-self: center;
	justify-self: center;
}

.rightMapContainer {
	display: grid;
	
	grid-template-columns: 1fr 1fr 2fr;
	height: 600px;
}

.leftMapContainer {
	display: grid;
	
	grid-template-columns: 2fr 1fr 1fr;
	height: 600px;
}

.boardContainer {
	/* justify-self: center;
	align-self: center; */
}

.textContainer {
	justify-self: center;
	align-self: center;
}

.mapContainer {
	justify-self: center;
	align-self: center;
}

@media only screen and (max-width: 600px) {
	.ourStoryContainer {
			grid-gap: 2rem;
			grid-template-columns: 1fr 4fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			padding: 0rem 1.5rem 0rem 1.5rem;
		
			grid-template-areas: 
				"flowerSideLeft poem1 flowerSideRight"
				"flowerSideLeft poem2 flowerSideRight"
				"flowerSideLeft poem3 flowerSideRight";
		
			grid-gap: 2rem;
			grid-column-gap: 3rem;
	}

	.font-heading {
		font-size: 3rem;
	}

	.font-text-size {
		font-size: 1rem;
	}

	.font-text-align {
		text-align: center;
	}
}

/* SVG */

.svg-bottom {
	width: 110px;
	height: auto;
	padding-left: 10px;
  fill: #613934;
  stroke: #000000;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .3px;
}

.ribbonFill {
	fill: #FAA404;
}

.postTop {
	width: 110px;
	height: auto;
	padding-left: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: .3px;
}

.inline {
	display: inline
}

.active {
	color: #1c1c1c;
	border: "1px";
}

.k {
	fill: none;
	stroke: #4c4c4c;
	stroke-width: 0.7px;
	stroke-dasharray: 1mm;
}

.l {
	fill: #4c4c4c;
	stroke-width: 0;
}

.m {
	fill: #ff6600;
	stroke-width: 0;
}

.n {
	fill: #4c4c4cc8;
	stroke-width: 0;
}

.o {
	fill: #4c4c4c;
	stroke-width: 0;
}

.p {
	fill: #c06a29;
	stroke-width: 0;
}

.q {
	fill: #613934;
	stroke-width: 0;
}

.r {
	fill: #faa404;
	stroke-width: 0;
}

.s {
	fill: #f4da05;
	stroke-width: 0;
}

.t {
	fill: #c06a29c8;
	stroke-width: 0;
}

.u {
	fill: #613934c8;
	stroke-width: 0;
}

.v {
	fill: #faa404c8;
	stroke-width: 0;
}

.w {
	fill: #f4da05c8;
	stroke-width: 0;
}

