.k {
	fill: none;
	stroke: #4c4c4c;
	stroke-width: 0.7px;
	stroke-dasharray: 1mm;
}

.l {
	fill: #4c4c4c;
	stroke-width: 0;
}

.m {
	fill: #ff6600;
	stroke-width: 0;
}

.n {
	fill: #4c4c4cc8;
	stroke-width: 0;
}

.o {
	fill: #4c4c4c;
	stroke-width: 0;
}

.p {
	fill: #c06a29;
	stroke-width: 0;
}

.q {
	fill: #613934;
	stroke-width: 0;
}

.r {
	fill: #faa404;
	stroke-width: 0;
}

.s {
	fill: #f4da05;
	stroke-width: 0;
}

.t {
	fill: #c06a29c8;
	stroke-width: 0;
}

.u {
	fill: #613934c8;
	stroke-width: 0;
}

.v {
	fill: #faa404c8;
	stroke-width: 0;
}

.w {
	fill: #f4da05c8;
	stroke-width: 0;
}

.airbnb {
	fill: #ffffff;
}

.booking {
	fill: #FFFFFF;
}

.svg-container {
  width: 100%;
  margin: 0 auto;
}

a.svg-container:after {
  content: ""; 
  position: relative; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}


object { 
	width: 100%;
}

.beeBody {
	fill: #ff6600;
}

.outlineFillColor {
	fill: #4c4c4c;
}

.dashed {
	stroke-width: 0.7px;
	stroke-dasharray: 1mm;
}

.outlineStrokeColor {
	stroke: #4c4c4c; 
}

.fillNone {
	fill: none;
}

.flowerBackPetals {
	fill: #f4da05;
}

.flowerFrontPetals {
	fill: #FAA404;
}

.flowerCenterOutside{
	fill: #613934;
}

.flowerCenterInside{
	fill: #c06a29;
}

.svg90Pct{
	width: 90%;
}

.svg75Pct{
	width: 75%;
}

.svg55Pct {
	width: 55%;
}

.svg30Pct {
	width: 50px;
}


.svgLinkA {
	position: relative; z-index: 1;
}

.svgSpan {
	display: grid;
}

.svgObject {
	position: relative;
	z-index: -1;
}

.postStem {
	fill: #864a1c;
}